*.log
*.zip
*.swp

version.txt
archive
README.md
replays
nbproject
node_modules
api-key.txt
db.sqlite3
f.txt
db.sqlite3-journal

halite3-match-manager/
fluorine/
docs/
hlt_client/
__pycache__/
stats/
test-bots/
pypy3-v6.0.0-linux64/
candidate.*/
error_replays/
